.shopbycategory {
  padding: 0 5rem;
  margin-bottom: 4rem;

  @media only screen and (max-width: 800px) {
    padding: 0 1rem;
  }

  &__cont {
    display: flex;
    justify-content: center;
    min-height: 20rem;
    height: max-content;
    flex-wrap: wrap;
    gap: 1.8rem;
    // justify-content: space-between;

    @media only screen and (max-width: 480px) {
      gap: 1rem;
    }

    & .card {
      overflow: hidden;

      & img {
        width: 10rem;

        @media only screen and (max-width: 800px) {
          width: 8rem;
        }
      }
    }
  }
}
