body {
  height: max-content;
  width: 100%; }

.heroslider {
  width: 100%;
  overflow: hidden;
  margin-bottom: 4rem;
  margin-top: 3.2rem; }
  .heroslider__track {
    width: 100%;
    display: flex;
    animation: slide 5s;
    animation-iteration-count: infinite;
    animation-delay: 0.5s;
    animation-direction: alternate; }
    @media only screen and (max-width: 480px) {
      .heroslider__track {
        animation: slide2 5s;
        animation-iteration-count: infinite;
        animation-delay: 0.5s;
        animation-direction: alternate; } }
    .heroslider__track img {
      width: 50%;
      height: 16rem;
      flex-shrink: 0; }
      @media only screen and (max-width: 800px) {
        .heroslider__track img {
          height: 10rem; } }
      @media only screen and (max-width: 480px) {
        .heroslider__track img {
          width: 100%;
          height: 12rem; } }
  .heroslider__track:hover {
    animation-play-state: paused; }

@keyframes slide {
  0% {
    margin-left: 0; }
  40% {
    margin-left: 0; }
  50% {
    margin-left: -50%; }
  80% {
    margin-left: -50%; }
  90% {
    margin-left: -100%; }
  100% {
    margin-left: -100%; } }

@keyframes slide2 {
  0% {
    margin-left: 0; }
  40% {
    margin-left: 0; }
  50% {
    margin-left: -100%; }
  80% {
    margin-left: -100%; }
  90% {
    margin-left: -200%; }
  100% {
    margin-left: -200%; } }

.item {
  margin-top: 4rem;
  padding: 4rem 10rem;
  margin-bottom: 4rem;
  display: flex;
  gap: 8rem; }
  @media only screen and (max-width: 1000px) {
    .item {
      padding: 4rem 1rem;
      gap: 6rem; } }
  @media only screen and (max-width: 800px) {
    .item {
      gap: 2rem; } }
  @media only screen and (max-width: 600px) {
    .item {
      flex-direction: column; } }
  @media only screen and (max-width: 480px) {
    .item {
      padding: 2rem 1rem; } }
  .item__center {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center; }
  .item__left {
    position: relative;
    border-radius: 1rem; }
    .item__left .icon__cont {
      background-color: #fff;
      border-radius: 50%;
      padding: 0.5rem 0.8rem;
      position: absolute;
      top: 0;
      right: -2rem;
      font-size: 1.2rem;
      box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.15);
      cursor: pointer; }
    .item__left img {
      width: 20rem; }
      @media only screen and (max-width: 800px) {
        .item__left img {
          width: 15rem; } }
      @media only screen and (max-width: 480px) {
        .item__left img {
          width: 10rem; } }
    @media only screen and (max-width: 600px) {
      .item__left {
        align-self: center; } }
  .item__right .quantity__cont {
    margin-top: 3rem;
    margin-bottom: 2rem;
    display: flex;
    gap: 1rem; }
    .item__right .quantity__cont .amount {
      border: 1px solid black;
      padding: 0.5rem 4rem;
      margin-bottom: 0; }

.relatedproducts {
  padding: 1rem 5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 800px) {
    .relatedproducts {
      padding: 0 1rem; } }
  @media only screen and (max-width: 480px) {
    .relatedproducts {
      padding: 0 0.5rem; } }
  .relatedproducts__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      .relatedproducts__cont {
        gap: 0.5rem; } }
    .relatedproducts__cont .card {
      width: 12rem;
      height: 16rem; }
      @media only screen and (max-width: 480px) {
        .relatedproducts__cont .card {
          width: 9.2rem;
          height: 14rem; } }
    .relatedproducts__cont .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .relatedproducts__cont .card-body p {
        text-align: center;
        line-height: 1rem;
        margin-top: 1rem;
        margin-bottom: 0; }
      .relatedproducts__cont .card-body .btn-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem; }
        @media only screen and (max-width: 480px) {
          .relatedproducts__cont .card-body .btn-cont button {
            font-size: 0.9rem; } }
    .relatedproducts__cont img {
      width: 6rem;
      height: 6rem;
      object-fit: contain; }
      @media only screen and (max-width: 480px) {
        .relatedproducts__cont img {
          width: 4rem;
          height: 4rem;
          object-fit: contain; } }

.header {
  width: 100%;
  background-color: #d4cbcb;
  height: 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 5rem;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10; }
  .header .mobile__nav {
    position: absolute;
    top: 3.2rem;
    left: 0;
    height: max-content;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    background-color: #d4cbcb;
    z-index: 100;
    padding: 2rem 0;
    animation: scale-in-ver-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }
    .header .mobile__nav p {
      color: #777; }
  .header .mobile__nav--close {
    display: none;
    animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes scale-in-ver-top {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 100% 0%;
    transform-origin: 100% 0%;
    opacity: 1; } }

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1; } }
  .header .fa-bars {
    display: none; }
    @media only screen and (max-width: 480px) {
      .header .fa-bars {
        display: flex; } }
  @media only screen and (max-width: 800px) {
    .header {
      padding: 0 1rem; } }
  .header img {
    width: 10rem; }
  .header__right {
    display: flex;
    align-items: center;
    gap: 2rem;
    font-size: 0.9rem; }
    @media only screen and (max-width: 480px) {
      .header__right {
        display: none; } }
    .header__right p {
      color: #444;
      margin-bottom: 0; }

.shopbycategory {
  padding: 0 5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 800px) {
    .shopbycategory {
      padding: 0 1rem; } }
  .shopbycategory__cont {
    display: flex;
    justify-content: center;
    min-height: 20rem;
    height: max-content;
    flex-wrap: wrap;
    gap: 1.8rem; }
    @media only screen and (max-width: 480px) {
      .shopbycategory__cont {
        gap: 1rem; } }
    .shopbycategory__cont .card {
      overflow: hidden; }
      .shopbycategory__cont .card img {
        width: 10rem; }
        @media only screen and (max-width: 800px) {
          .shopbycategory__cont .card img {
            width: 8rem; } }

.feature {
  padding: 0 5rem;
  height: 20rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: 6rem; }
  @media only screen and (max-width: 800px) {
    .feature {
      padding: 0 1rem; } }
  .feature__sec {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; }
    .feature__sec .icon__cont {
      width: 8rem;
      height: 8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center; }
      @media only screen and (max-width: 480px) {
        .feature__sec .icon__cont {
          width: 6rem;
          height: 6rem; } }
      .feature__sec .icon__cont img {
        opacity: 0.5;
        transition: all 0.2s; }
        @media only screen and (max-width: 800px) {
          .feature__sec .icon__cont img {
            width: 2rem; } }
    .feature__sec .icon__cont:hover img {
      opacity: 1; }
    .feature__sec p {
      margin-top: 1rem;
      margin-bottom: 0; }

.topseller {
  padding: 0 5rem;
  margin-bottom: 4rem; }
  @media only screen and (max-width: 800px) {
    .topseller {
      padding: 0 1rem; } }
  @media only screen and (max-width: 480px) {
    .topseller {
      padding: 0 0.5rem; } }
  .topseller__cont {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      .topseller__cont {
        gap: 0.5rem; } }
    .topseller__cont .card {
      width: 12rem;
      height: 16rem; }
      @media only screen and (max-width: 480px) {
        .topseller__cont .card {
          width: 9.2rem;
          height: 14rem; } }
    .topseller__cont .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .topseller__cont .card-body p {
        text-align: center;
        line-height: 1rem;
        margin-top: 1rem;
        margin-bottom: 0; }
      @media only screen and (max-width: 480px) {
        .topseller__cont .card-body button {
          font-size: 0.9rem; } }
    .topseller__cont img {
      width: 6rem;
      height: 6rem;
      object-fit: contain; }
      @media only screen and (max-width: 480px) {
        .topseller__cont img {
          width: 4rem;
          height: 4rem;
          object-fit: contain; } }

.dealoftheday {
  padding: 1.5rem 5rem;
  margin-bottom: 4rem;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  position: relative;
  background-color: #6cc3d5; }
  @media only screen and (max-width: 800px) {
    .dealoftheday {
      padding: 0 1rem; } }
  @media only screen and (max-width: 480px) {
    .dealoftheday {
      padding: 0 0.5rem; } }
  .dealoftheday__heading {
    padding: 0.5rem 1rem;
    border: 2px solid #888;
    width: max-content;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%); }
    .dealoftheday__heading h4 {
      margin-bottom: 0; }
  .dealoftheday__cont {
    padding: 2rem 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    flex-wrap: wrap; }
    @media only screen and (max-width: 480px) {
      .dealoftheday__cont {
        gap: 0.5rem; } }
    .dealoftheday__cont .card {
      width: 12rem;
      height: 16rem; }
      @media only screen and (max-width: 480px) {
        .dealoftheday__cont .card {
          width: 9.2rem;
          height: 14rem; } }
    .dealoftheday__cont .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .dealoftheday__cont .card-body p {
        text-align: center;
        line-height: 1rem;
        margin-top: 1rem;
        margin-bottom: 0; }
      @media only screen and (max-width: 480px) {
        .dealoftheday__cont .card-body button {
          font-size: 0.9rem; } }
    .dealoftheday__cont img {
      width: 6rem;
      height: 6rem;
      object-fit: contain; }
      @media only screen and (max-width: 480px) {
        .dealoftheday__cont img {
          width: 4rem;
          height: 4rem;
          object-fit: contain; } }

.footer {
  width: 100%;
  position: relative;
  background-color: #d4cbcb;
  height: max-content;
  padding: 2rem 8rem;
  display: flex;
  justify-content: space-evenly;
  border-top: 1px solid #888; }
  @media only screen and (max-width: 800px) {
    .footer {
      padding: 2rem 2rem; } }
  @media only screen and (max-width: 600px) {
    .footer {
      flex-direction: column; } }
  .footer .up__arrow {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #56cc9d;
    padding: 1rem 1.3rem;
    border-radius: 50%;
    margin-bottom: 0;
    color: #fff; }
    .footer .up__arrow i {
      transform: translateY(0.6rem);
      animation: slide_up 1.7s;
      animation-iteration-count: infinite; }

@keyframes slide_up {
  90% {
    transform: translateY(-0.9rem); }
  100% {
    transform: translateY(-1rem); } }
  .footer__sec ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0; }
  @media only screen and (max-width: 600px) {
    .footer__sec {
      width: 100%;
      flex-shrink: 0; } }
  .footer .joinus ul {
    flex-direction: row;
    gap: 2rem; }
    .footer .joinus ul i {
      font-size: 1.4rem; }

.cart {
  margin-top: 4rem;
  padding: 2rem 5rem;
  min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 2rem;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 800px) {
    .cart {
      padding: 1rem 0 0; } }
  .cart__empty {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    min-height: 70vh; }
    .cart__empty img {
      width: 16rem;
      object-fit: contain;
      object-position: center; }
    .cart__empty h4 {
      max-width: 20rem;
      text-align: center; }
  .cart__left {
    width: 50rem; }
    @media only screen and (max-width: 1200px) {
      .cart__left {
        width: 30rem; } }
    @media only screen and (max-width: 1000px) {
      .cart__left {
        width: 100%; } }
    .cart__left--top {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 1rem; }
      .cart__left--top > * {
        margin: 0; }
    .cart__left--itemwrapper {
      width: 100%;
      max-height: 26.5rem;
      overflow: auto; }
      @media only screen and (max-width: 600px) {
        .cart__left--itemwrapper {
          max-height: max-content; } }
    .cart__left--item {
      width: 100%;
      padding: 1.5rem 1rem;
      display: flex;
      gap: 1.5rem; }
      @media only screen and (max-width: 600px) {
        .cart__left--item {
          flex-direction: column;
          align-items: center; } }
      .cart__left--item .item__img {
        max-width: 10rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1rem; }
        .cart__left--item .item__img img {
          width: 7rem;
          height: 7rem;
          object-fit: contain;
          object-position: center; }
          @media only screen and (max-width: 600px) {
            .cart__left--item .item__img img {
              width: 5rem;
              height: 5rem; } }
        .cart__left--item .item__img .item__quantity {
          display: flex;
          align-items: center;
          gap: 1rem; }
          .cart__left--item .item__img .item__quantity .disable {
            opacity: 0.5 !important; }
          .cart__left--item .item__img .item__quantity--btn {
            border-radius: 50%;
            width: 2rem;
            height: 2rem;
            display: flex;
            justify-content: center;
            align-items: center;
            border: 1px solid #999;
            cursor: pointer; }
          .cart__left--item .item__img .item__quantity--field {
            width: 4rem;
            height: 2rem;
            border: 1px solid #999;
            display: flex;
            justify-content: center;
            align-items: center; }
          .cart__left--item .item__img .item__quantity h5,
          .cart__left--item .item__img .item__quantity h4 {
            margin: 0; }
      .cart__left--item .item__detail {
        display: flex;
        flex-direction: column;
        height: 100%; }
        .cart__left--item .item__detail h6 {
          margin-bottom: 1.5rem; }
        .cart__left--item .item__detail--price {
          display: flex;
          align-items: center;
          gap: 1rem; }
          .cart__left--item .item__detail--price h6 {
            text-decoration: line-through; }
          .cart__left--item .item__detail--price h4,
          .cart__left--item .item__detail--price h6 {
            margin: 0; }
        .cart__left--item .item__detail--cta {
          margin-top: 1rem;
          display: flex;
          gap: 1rem; }
    .cart__left .place__order {
      width: 100%;
      box-shadow: 1px -3px 10px 0px rgba(0, 0, 0, 0.15);
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: flex-end; }
  .cart__right {
    width: 20rem;
    padding: 1rem; }
    .cart__right--top {
      margin-bottom: 1rem; }
      .cart__right--top > * {
        margin: 0; }
    .cart__right--price {
      display: flex;
      align-items: center;
      justify-content: space-between; }

.checkout {
  min-height: 60vh;
  margin-top: 4rem;
  padding: 2rem 5rem; }
  @media only screen and (max-width: 800px) {
    .checkout {
      padding: 2rem 1rem; } }
  .checkout .cont__ {
    display: flex;
    gap: 2rem;
    margin-bottom: 2rem; }
    @media only screen and (max-width: 660px) {
      .checkout .cont__ {
        flex-wrap: wrap; } }
  .checkout h4 {
    margin-bottom: 1rem; }
  .checkout__left {
    width: 60%; }
    .checkout__left .contact_cont {
      display: flex;
      gap: 1rem; }
      @media only screen and (max-width: 480px) {
        .checkout__left .contact_cont {
          flex-wrap: wrap;
          gap: 0.2rem; } }
    .checkout__left .lead {
      margin-bottom: 0rem; }
    .checkout__left .address {
      margin-bottom: 0.4rem; }
    @media only screen and (max-width: 660px) {
      .checkout__left {
        flex-shrink: 0;
        width: 100%; } }
  .checkout__right {
    width: 30%; }
    @media only screen and (max-width: 660px) {
      .checkout__right {
        flex-shrink: 0;
        width: 50%; } }
    @media only screen and (max-width: 480px) {
      .checkout__right {
        flex-shrink: 0;
        width: 100%; } }
    .checkout__right .row__ {
      display: flex;
      justify-content: space-between; }
    .checkout__right .final {
      border-top: 2px solid #eee; }
  .checkout .payment {
    margin-bottom: 4rem; }
    .checkout .payment .btn {
      margin-top: 2rem; }

.wishlist {
  margin-top: 4rem;
  padding: 2rem 5rem;
  min-height: 60vh;
  display: flex;
  flex-direction: column; }
  .wishlist .table__cont {
    max-height: 70vh;
    overflow-y: auto;
    width: 100%; }
  @media only screen and (max-width: 800px) {
    .wishlist {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 480px) {
    .wishlist {
      padding: 2rem 0.4rem; } }
  .wishlist .item_name {
    flex-wrap: wrap; }
    .wishlist .item_name p {
      margin-bottom: 0; }
  @media only screen and (max-width: 480px) {
    .wishlist .quantity {
      gap: 0.2rem !important; } }
  @media only screen and (max-width: 480px) {
    .wishlist .quantity button {
      padding: 0.1rem 0.2rem !important; } }
  .wishlist .row__cont {
    min-height: 4rem;
    display: flex;
    align-items: center;
    gap: 1rem; }
    .wishlist .row__cont button {
      padding: 0.2rem 0.5rem; }
    .wishlist .row__cont i {
      font-size: 0.8rem; }
    .wishlist .row__cont .amount {
      margin-bottom: 0;
      border: 1px solid grey;
      padding: 0 1rem; }
    @media only screen and (max-width: 480px) {
      .wishlist .row__cont h5 {
        font-size: 1rem; } }
  .wishlist td img {
    width: 3rem;
    height: 4rem;
    object-fit: contain; }

.login__drawer {
  position: relative;
  padding: 1rem;
  width: 22rem;
  height: 100%;
  display: flex;
  justify-content: center;
  padding-top: 6rem; }
  .login__drawer img {
    position: absolute;
    bottom: 1rem;
    right: 0;
    max-width: 100%;
    object-fit: contain;
    opacity: 0.7;
    z-index: -1; }
  @media only screen and (max-width: 480px) {
    .login__drawer {
      width: 18rem; } }
  .login__drawer .cont {
    padding: 0 2rem;
    display: flex;
    flex-direction: column; }
    @media only screen and (max-width: 480px) {
      .login__drawer .cont {
        width: 18rem;
        padding: 0 0.5rem; } }
    .login__drawer .cont h3 {
      margin-bottom: 2rem; }
    .login__drawer .cont .btn {
      width: 100%; }
    .login__drawer .cont label {
      margin-top: 1rem !important; }

.signup {
  margin-top: 4rem;
  padding: 4rem 5rem 4rem;
  min-height: 50vh;
  display: flex;
  justify-content: center; }
  .signup img {
    width: 25rem;
    object-fit: contain; }
  @media only screen and (max-width: 700px) {
    .signup img {
      display: none; } }
  @media only screen and (max-width: 480px) {
    .signup {
      padding: 2rem 0.2rem 3rem; } }
  .signup .cont {
    width: 25rem;
    margin-left: 10rem; }
    @media only screen and (max-width: 870px) {
      .signup .cont {
        margin-left: 0.5rem; } }
    .signup .cont .addon {
      position: relative; }
      .signup .cont .addon .fa-check {
        position: absolute;
        top: 50%;
        left: 50%;
        font-size: 0.5rem;
        color: #fff;
        transform: translate(-50%, -10%); }

.dashboard {
  margin-top: 4rem;
  min-height: 50vh;
  display: flex; }
  .dashboard__section {
    animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both; }

@keyframes slide-in-bottom {
  0% {
    -webkit-transform: translateY(1000px);
    transform: translateY(1000px);
    opacity: 0; }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
    opacity: 1; } }
  .dashboard .main {
    padding: 2rem 1rem;
    width: 100%; }

.sidebar {
  padding: 1rem;
  width: 16rem;
  height: 100vh;
  background-color: #56cc9d;
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.2); }
  .sidebar .top__cont {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    padding: 2rem 0;
    border-bottom: 2px solid #888; }
  .sidebar ul {
    padding: 2rem 1rem;
    color: rgba(0, 0, 0, 0.651);
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.9rem; }
    .sidebar ul li {
      padding: 0 1rem;
      text-transform: uppercase;
      cursor: pointer; }
    .sidebar ul .active {
      font-size: 1.3rem;
      position: relative;
      color: #fff;
      animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) both; }
      .sidebar ul .active::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        background-color: #fff;
        width: 3px;
        height: 100%;
        animation: scale-in-ver-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
        animation-delay: 0.5s; }

@keyframes scale-in-ver-bottom {
  0% {
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1; }
  100% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    -webkit-transform-origin: 0% 100%;
    transform-origin: 0% 100%;
    opacity: 1; } }

.ordercard__main {
  padding: 1rem;
  width: 16rem; }
  .ordercard__main .order__p {
    font-size: 0.9rem;
    color: grey;
    margin: 0;
    margin-bottom: 0.5rem; }
    .ordercard__main .order__p h4 {
      margin: 0;
      margin-right: 0.8rem;
      color: #333 !important; }

.productByCategory {
  min-height: 60vh;
  margin-top: 4rem;
  padding: 2rem 5rem; }
  @media only screen and (max-width: 800px) {
    .productByCategory {
      padding: 2rem 1rem; } }
  @media only screen and (max-width: 480px) {
    .productByCategory {
      padding: 2rem 0.5rem; } }
  .productByCategory .searchbar {
    display: flex;
    justify-content: flex-end; }
  .productByCategory__cont {
    display: flex;
    justify-content: center;
    min-height: 20rem;
    height: max-content;
    flex-wrap: wrap;
    gap: 1.8rem; }
    @media only screen and (max-width: 480px) {
      .productByCategory__cont {
        gap: 0.5rem; } }
    .productByCategory__cont .card {
      width: 12rem;
      height: 16rem; }
      @media only screen and (max-width: 480px) {
        .productByCategory__cont .card {
          width: 9.2rem;
          height: 14rem; } }
    .productByCategory__cont .card-body {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .productByCategory__cont .card-body p {
        text-align: center;
        line-height: 1rem;
        margin-top: 1rem;
        margin-bottom: 0; }
      .productByCategory__cont .card-body .btn-cont {
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        gap: 0.5rem; }
        @media only screen and (max-width: 480px) {
          .productByCategory__cont .card-body .btn-cont button {
            font-size: 0.9rem; } }
    .productByCategory__cont img {
      width: 6rem;
      height: 6rem;
      object-fit: contain; }
      @media only screen and (max-width: 480px) {
        .productByCategory__cont img {
          width: 4rem;
          height: 4rem;
          object-fit: contain; } }

.profile {
  margin-top: 4rem;
  padding: 2rem 5rem;
  min-height: 50vh;
  background-color: #2b6777;
  padding-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  @media only screen and (max-width: 800px) {
    .profile {
      padding: 2rem 1rem; } }
  .profile__top {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem; }
    .profile__top--left h4,
    .profile__top--left h6 {
      color: #fff; }
  .profile__detail {
    width: 100%;
    background-color: #fff;
    padding: 2rem;
    border-radius: 0.7rem;
    box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35);
    display: flex; }
    .profile__detail--left {
      width: 14rem;
      min-height: 30rem;
      background-color: #d4cbcb;
      margin-right: 4rem; }
      .profile__detail--left ul {
        list-style: none;
        padding: 5rem 0;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        width: 14rem; }
        .profile__detail--left ul > *:not(:last-child) {
          margin-bottom: 0.5rem; }
        .profile__detail--left ul .active {
          background-color: #fff; }
          .profile__detail--left ul .active p {
            font-weight: 600; }
          .profile__detail--left ul .active .icon__cont {
            background-color: #333; }
            .profile__detail--left ul .active .icon__cont i {
              color: #fff; }
        .profile__detail--left ul .icon__cont {
          background-color: #fff;
          width: 2rem;
          height: 2rem;
          border-radius: 50%;
          display: flex;
          justify-content: center;
          align-items: center;
          margin-right: 1rem; }
        .profile__detail--left ul li {
          display: flex;
          align-items: center;
          font-size: 1rem;
          padding: 0.8rem 2.5rem;
          width: 13rem;
          border-radius: 0.4rem 0 0 0.4rem;
          cursor: pointer;
          transition: all 0.1s; }
          .profile__detail--left ul li:hover {
            font-weight: 600; }
          .profile__detail--left ul li p {
            margin: 0;
            color: #333; }
    .profile__detail--right .orders {
      display: flex;
      align-items: center;
      flex: 1;
      flex-wrap: wrap;
      height: 30rem;
      overflow: auto;
      gap: 1.5rem; }
    .profile__detail--right .address {
      display: flex;
      justify-content: space-between; }
      .profile__detail--right .address form {
        width: 20rem;
        margin-right: 4rem; }
      .profile__detail--right .address__right {
        height: 30rem;
        padding: 0 1rem;
        overflow: auto; }
        .profile__detail--right .address__right--card {
          width: 20rem; }
          .profile__detail--right .address__right--card button {
            margin-right: 0.5rem; }

.profilem__top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
  border-bottom: 2px solid #fff; }
  .profilem__top--left {
    width: 70%; }
    .profilem__top--left h6,
    .profilem__top--left p {
      color: #fff; }
    .profilem__top--left p {
      font-size: 0.8rem;
      margin-bottom: 0;
      line-height: 1rem; }
  .profilem__top--right button {
    font-size: 0.7rem; }

.profilem__options {
  background-color: #fff;
  padding: 0.8rem;
  border-radius: 0.4rem;
  box-shadow: 0px 0px 35px 0px rgba(0, 0, 0, 0.35); }
  .profilem__options ul {
    list-style: none;
    padding: 0; }
    .profilem__options ul > *:not(:last-child) {
      border-bottom: 1px solid #eee; }
    .profilem__options ul li {
      padding: 0.5rem 0;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .profilem__options ul li p {
        margin: 0; }

.edit__drawer {
  position: relative;
  padding: 1rem;
  width: 22rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 6rem; }
  .edit__drawer img {
    position: absolute;
    bottom: 1rem;
    right: 0;
    max-width: 80%;
    object-fit: contain;
    opacity: 0.7;
    z-index: -1; }
  .edit__drawer--close {
    position: absolute;
    top: 1rem;
    left: 1rem;
    z-index: 2; }

.order__dialog {
  position: relative;
  padding: 5rem 1rem 1rem;
  overflow: auto; }
  .order__dialog > *:not(:last-child) {
    margin-bottom: 0.5rem; }
  .order__dialog--top {
    width: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    left: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #d4cbcb; }
    .order__dialog--top h5 {
      margin: 0; }
